body{
    margin: 0;
    background-color: #E1E1E1;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    }
.intro{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        top: 50px;
        position: relative;
}
    .intro h1{
        margin: 10px;
        font-family: "Aref Ruqaa", serif;
}
.intro p{
        margin: 5px;
        font-size: 20px;
        color: #4F4F4F;
        font-weight: 500;
        font-family: "Aref Ruqaa", serif;
}
    .user-img{
        height: 150px;
        width: 150px;
        border-radius: 100px;
    }

    .social{
        width: 100%;
        top: 100px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .social-card{
        border: 2px solid #AAAAAA;
        border-radius: 16px;
        width: 150px;
        height: 150px;
        margin: 20px 20px 0px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px 0px 0px 0px;
        text-decoration: none;
        background-color: #CCCCCC;
        transition-duration: 500ms;
        flex-wrap: wrap;
    }
    .social-card:hover{
        transform: scale(1.2);
        background-color: #8E8E8E;
    }
.social-card p{
        color: black;
        font-size: 18px;
        font-family: sans-serif;
}
